h5py==3.1.0
nltk==3.6.7
numpy==1.19.5
pandas==1.1.5
tensorboard==1.15.0
tokenizers==0.10.3
#torch==1.10.0+cu111
tqdm==4.64.1
transformers==4.12.0
scikit-learn
datasets
torch-tb-profiler==0.4.1
textattack==0.3.8 # pip install textattack[tensorflow]